# Ignore AWS CLI installer
awscliv2.zip

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python / Node / other build artifacts (if any)
__pycache__/
node_modules/
